<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" routerLink="/">Gotit</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngFor="let item of routeService.getMenus"
      >
        <a
          *ngIf="!item.menuRight"
          class="nav-link"
          (click)="isMenuCollapsed = true"
          [routerLink]="item.link"
          >{{ item.name }} <span class="sr-only">(current)</span>
        </a>
        <a
          *ngIf="item.menuRight"
          class="nav-link d-block d-md-none d-lg-none"
          (click)="isMenuCollapsed = true"
          [routerLink]="item.link"
          >{{ item.name }} <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngFor="let item of routeService.getMenus"
      >
        <a
          *ngIf="item.menuRight"
          class="nav-link"
          (click)="isMenuCollapsed = true"
          [routerLink]="item.link"
        >
          <i class="fa fa-user mr-2"></i>
          {{ item.name }}
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
