<div class="title row">
  <div class="col"><h1>Profile</h1></div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <h1 class="text-primary d-block d-sm-none d-xs-none">
      Hello, {{ user.displayName }}!
    </h1>
    <img [src]="user.photoURL" class="w-75 rounded-circle" />

    <button class="btn btn-secondary mt-3 btn-user btn-block">
      Change photo
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-block btn-user"
      (click)="logout()"
    >
      <i class="fa fa-power-off" aria-hidden="true"></i>
      Logout
    </button>
  </div>
  <div class="col-sm-12 col-md-8">
    <h1 class="text-primary d-none d-sm-block d-xs-block">
      Hello, {{ user.displayName }}!
    </h1>
  </div>
</div>
