<div class="row">
  <div class="col-md-3 mt-3 col-sm-12" *ngFor="let item of items">
    <div class="card mt-2">
      <div class="card-header text-center">
        <h4 class="w-100">{{ item.name }}</h4>
      </div>
      <div class="card-body">
        <div class="text-center">
          <h2>${{ item.price ? item.price : "--" }}</h2>

          <div class="w-100">
            <a href="{{ item.link | link }}" target="_blank"
              ><i class="fa fa-external-link" *ngIf="item.link"></i>
              {{ item.link }}</a
            >
            <span *ngIf="!item.link" class="text-muted font-italic">--</span>
          </div>
          <small class="text-muted mb-2"
            >Added by {{ item.createdBy?.displayName || "unknown" }} on
            {{ item.createdDate | firebaseDate | date }}</small
          >
        </div>
      </div>
      <div
        class="btn-group btn-group-lg w-100"
        role="group"
        aria-label="Function buttons"
      >
        <button
          type="button"
          class="btn btn-secondary"
          (click)="openModalEdit(item)"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteItem(item)">
          <i class="fa fa-trash"></i>
        </button>
        <button
          type="button"
          [ngClass]="{
            'btn-outline-primary': !item.boughtDate,
            'btn-primary': item.boughtDate
          }"
          class="btn"
          (click)="toggleBought(item)"
        >
          <i class="fa fa-check"></i>
        </button>
      </div>
    </div>
  </div>
</div>
