@import "../../../colors.scss";

footer {
  color: black;
  text-align: right;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $grey;
}

.ref-link {
  font-size: 21px;
  color: black;
}
