<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let item of menuItems"
        mat-list-item
        routerLinkActive="active"
        (click)="drawer.toggle()"
        routerLink="{{ item.link }}"
      >
        {{ item.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="shadow">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ menuName }}</span>
      <span class="ml-md-auto"></span>
      <a
        [ngClass]="{ hidden: isHandset$ | async }"
        *ngFor="let item of menuItems"
        mat-button
        routerLinkActive="active"
        (click)="drawer.toggle()"
        routerLink="{{ item.link }}"
      >
        {{ item.name }}
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
