/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: white;
}

.mat-nav-list a.active {
  font-weight: bold;
  background-color: dimgrey;
}

a.mat-button.active {
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: unset;
}
