/* You can add global styles to this file, and also import other style files */
@import "./app/colors.scss";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: $primary,
);

.pointer {
  cursor: pointer;
}

@import "node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $background;
}

.landing {
  background: linear-gradient(to bottom right, #17c671, #6be6ab);
  div.container-fluid {
    margin-bottom: unset !important;
    margin-top: unset !important;
  }
}

.flex-1 {
  flex: 1;
}
